div {
  font-size: 14pt;
}

p {
  font-size: 14pt;
}

.logo-title {
  position: absolute;
  top: 0px;
  left: 120px;
  font-size: x-large;
  z-index: 1;
}


.middle {
  position: absolute;
  top: 380px;
  width: 930px;
  font-family: Bitter;
  font-size: 14pt;
}

.head-left {
  float: left;
  width: 20%;
}

.head-right {
  float: left;
  width: 78%;
  padding: 25px;
}



.blog-header-title {
  line-height: 1;
  font-weight: 800;
  font-size: 18pt;
  margin-bottom: 0.4rem;
}


.blog-header-subtitle {
  font-size: 16pt;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.blog-list {
  margin-left: 15.0pt;
}

.blog-list-ul{
  list-style-type: square; 
  margin-left: 0; 
  margin-right: 0; 
  padding: 0;
}

* {
  font-family: "Times New Roman";
}

p {
  margin-bottom: 0.2rem;
}


.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}


@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 2rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 3rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

figure {
  float: left;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.75em;
}

.blog-section {
  position: relative;
  display:inline-block;
  padding:10px;
  width: 100%;
  height: 100%;

}
